<form class="" action="/animals" method="post">
  <label for="name">Animal Name</label>
  <input type="text" name="name" class="form-control">
  <label for="type">Animal Type</label>
  <input type="text" name="type" class="form-control">
  <button type="submit" name="button">Add animal</button>
</form>
<a href="/">Return to home</a>
