<form class="" action="/people" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" class="form-control">
  <label for="type">Desired animal type</label>
  <input type="text" name="type" class="form-control">
  <label for="number">Phone Number</label>
  <input type="number" name="number" class="form-control">
  <button type="submit" name="button">Add Customer</button>
</form>
<a href="/">Return to home</a>
